<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WA.Messager</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form action="/sayhi" method="GET">
            <p><input type="number" name="phno" placeholder="9876543210"  required autofocus="autofocus"/></p>
            <p><input type="text" name="msg" placeholder="Hello" value ="Hello" /></p>
            <p><input id ="submit" type="submit" name="submit" value="Say Hello"></p>
        </form>
    </body>
</html>