<!DOCTYPE html>
<html>
    <head>
        <title>WA Messager</title>
    </head>
    <body>
        <form action="/sayhi" method="GET">
            <input type="number" name="phno" placeholder="9876543210" value ="9876543210" required minlength="10">
            <input type="text" name="msg" placeholder="Hi" value ="Hello">
            <input type="submit" name="submit" value="Say Hi">
        </form>
    </body>
</html>